fastapi==0.115.0
uvicorn[standard]==0.30.6
aiofiles
alembic
bcrypt
email-validator
jinja2
passlib
pillow
python-dotenv
python-jose[cryptography]
python-multipart
qrcode
sqlalchemy
weasyprint
email-validator
aiofiles
alembic
bcrypt
email-validator
fastapi==0.115.0
jinja2
passlib
pillow
python-dotenv
python-jose[cryptography]
python-multipart
qrcode
sqlalchemy
uvicorn[standard]==0.30.6
weasyprint
requests